/* Add this CSS code to your existing styles.css or include it in your HTML file */

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

.fixed-title-box {
    background: linear-gradient(to right, #1a1a1a, #4d4d4d);
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    text-align: left;
    background: #f9f9f9; /* Adjusted background color */
}

/* New styles for fixed footer */
footer {
    /* position: fixed; */
    bottom: 0;
    width: auto;
    background-color: #333; /* Customize the background color */
    color: #fff; /* Customize the text color */
    text-align: center;
    padding: 15px;
    z-index: 1000;
}

form {
    width: 48%;
}

h2 {
    color: #333;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:hover {
    background-color: #f4f4f4;
}

button,
.submit {
    background-color: #1a1a1a; /* Adjusted button background color */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover,
.submit:hover {
    background-color: #4d4d4d; /* Adjusted button hover background color */
}

.form-section {
    margin-bottom: 20px;
}

.form-section label {
    margin-bottom: 8px;
    cursor: pointer;
    color: #333;
}

.dropdown-content {
    display: none;
}

.form-section.active .dropdown-content {
    display: block;
}

.margin01 {
    margin: 12%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f0f0f0;
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #555;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a1a1a; /* Adjusted link background color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a:hover {
    background-color: #4d4d4d; /* Adjusted link hover background color */
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.dropdown-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.gender-label {
    margin-bottom: 5px;
}

.Dropdownheader {
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


.Dropdownheader_01 {
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    float: right; /* Float the div to the right */
    text-align: right; /* Align text inside the div to the right */
    vertical-align: top; /* Align the div to the top */
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(61, 58, 58);
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
}

.popup a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    /* position: fixed; */
    bottom: auto;
    width: auto;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}