<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
</head>

<body>
    <div class="fixed-title-box">
        <div class="title-container">
            <h1 class="title">Bank Application Form</h1>
        </div>
    </div>
    <div class="margin01">
        <h1>Error</h1>
        <p>{{ message }}</p>
    </div>
    <div>
        <a href="/">Go back</a>
    </div>
    <footer>
        <p>&copy; 2024 Your Bank Name. All rights reserved. | Designed by Your Company Name</p>
    </footer>
</body>

</html>