<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <title>Search Results</title>
</head>

<body>
    <div class="fixed-title-box">
        <div class="title-container">
            <h1 class="title">Bank Application Form</h1>
        </div>
    </div>
    <div class="margin01">
        {% if entries %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                    <th>Pin Code</th>
                    <th>Nominee Name</th>
                    <th>Mominee Gender</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[3] }}</td>
                    <td>{{ entry[4] }}</td>
                    <td>{{ entry[5] }}</td>
                    <td>{{ entry[6] }}</td>
                    <td>{{ entry[7] }}</td>
                    <td>{{ entry[8] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No record exists/found for '{{ query }}'.</p>
        {% endif %}
        <div>
            <a href="/">Go back</a>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Your Bank Name. All rights reserved. | Designed by Your Company Name</p>
    </footer>
</body>

</html>