<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <title>Form Submission Success</title>

</head>

<body>
    <div class="fixed-title-box">
        <div class="title-container">
            <h1 class="title">Bank Application Form</h1>
        </div>
    </div>
    <div class="margin01">
        <h2>Form Submitted Successfully</h2>
        <table>
            <tr>
                <th>Name</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ phone }}</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>{{ dob }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ address }}</td>
            </tr>
        </table>

        <div class="footer">
            <a href="/">Go back</a>
            <a href="#" onclick="downloadPDF()">Download Again</a>
        </div>

        <div class="popup" id="popup">
            <span class="close-btn" onclick="closePopup()">X</span>
            <p>PDF Copy Downloaded Successfully</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Your Bank Name. All rights reserved. | Designed by Your Company Name</p>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            downloadPDF();
            showPopup();
            setTimeout(closePopup, 2000); // Close popup after 2 seconds
        });

        function downloadPDF() {
            var element = document.body;
            var userName = "{{ name }}";

            html2pdf(element, {
                margin: 10,
                filename: 'form_submission_' + userName + '.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            }).then(function (pdf) {
                pdf.output('dataurlnewwindow');
            });
        }

        function showPopup() {
            var popup = document.getElementById('popup');
            popup.style.display = 'block';
        }

        function closePopup() {
            var popup = document.getElementById('popup');
            popup.style.display = 'none';
        }
    </script>
</body>

</html>
